RewriteEngine On
RewriteCond %{HTTP_HOST} phpwebsocket.herokuapp.com$ 
DirectoryIndex Views/Home/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^user$ Views/User/user.php [NC]
RewriteRule ^home$ Views/Home/index.php [NC]